<h1>Show</h1>

Message Count <%= @conversation.message_count %><br>
<div class ="message-holder" style = "height:20rem;width:30rem;overflow:auto">

	<% @conversation.messages.each do |message| %>
	<%= render 'message_display', message: message %>
	<% end %>
	<div id = "message-focus"></div>
</div>
<%= render 'conversations/message', conversation: @conversation %>
<script>
$(document).ready(function(){
	setTimeout(poll,6000);
})
function poll(){
	
	
	$.getScript('/conversations/<%= @conversation.id %>?id=<%= @conversation.id %>&remote=true');
	setTimeout(poll,6000);
}
</script>